h1 {
  font-size: 48px;
}

li {
  margin: 20px;
  list-style: none;
  background-color: rgb(22, 90, 8);
  color: rgb(234, 234, 234);
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0);
  display: inline-block;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  color: rgb(229, 14, 14);
  text-decoration: none;
}

#paragraph-description {
  font-size: 20px;
  font-weight: bold;
}

.challenge-class {
  color: rgb(234, 234, 234);
}